{% extends "@WebProfiler/Profiler/layout.html.twig" %}

{% block toolbar %}
  {% set icon %}
  {{ include('@PentatrionVite/Collector/icon.svg') }}
  <span class="sf-toolbar-value">Vite</span>
  {% endset %}

  {% set text %}
  <div class="sf-toolbar-info-piece">
    <b>
      <a href="{{ path('_profiler_vite') }}">Vite info</a>
    </b>
  </div>
  {% endset %}

  {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { 'link': true }) }}
{% endblock %}

{% block menu %}
  <span class="label">
    <span class="icon">
      {{ include('@PentatrionVite/Collector/icon.svg') }}
    </span>
    <strong>Vite</strong>
  </span>
{% endblock %}

{% block panel %}
  <h2>Rendered Entry points</h2>

  <span>{{ collector.foo }}</span>

{% endblock %}
